body {
  font-family: helvetica, sans-serif;
  background-color: white;
  margin:5px;
  height:100%;

}
.container {
  display:flex;
  height:100%;
  min-height:.7;
  align-items:center;
}
.modal-dialog {
  border-style:none;
  min-width:.3;
}

.modal-header {
  border:none;
  align-self:flex-end;
  height:auto;
}

#close{
  color: #000000;
  border: none;
  font-style:italic;
  opacity: .50;
  background-color:inherit;
  justify-content:flex-end;
  cursor:pointer;

}
.modal-content {
  margin-top:0;
  text-align:center;
  flex-direction: column;
  height:auto;
}

img {
max-width:65%;
margin:.3;
padding:.3;
align-items:center;
}

#img-large{
  width:35%;
}

.btn-primary {
  background-color: #6dabe4; /* make into variable */
  color: white;
  border: none;
  font-size: 20;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 3px;
}
button:hover {
  background-color:white;
  opacity:.5;
}
.btn-link {
  color: #000000;
  border: none;
  font-style:italic;
  opacity: .50;
  background-color:inherit;

}
.modal-footer {
  margin-top: 5px;
  border:none;
  height: auto;
  flex-direction: column;
  position: inherit;
}

.slide-button-container {
  display: inline-flex;
  flex-direction: column;
  padding:15px;
}

#carouselContainer{
padding-top:0;
margin:0;
min-height:60%;
overflow:inherit;
}

#carouselContainer li {
  background-color: #efefef;
  height: 8px;
  width: 8px;
  border-radius:70%;

}



#carouselContainer li.active {
  background-color: #6dabe4;
  opacity: .5;

}
p {
  padding: 15px;
  margin: 15px;
}
.carousel-indicators li {
}
.carousel-indicators ol {
  padding-top:25px;
  padding-bottom:15px;
  position:static;
}
.carousel-item{
  margin: 0 .8;
  bottom:.5
  padding:.8;
  min-height:80%;
}
/*.carousel-inner{
  bottom:.5;
  min-height:50%;
}
*/
